:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #1f2c33;
  --right-msg-bg: #1f2c33;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;

  width: 100%;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}
#chatContainerSection {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
}
.chatDivContainer {
  height: 95%;
  width: 95%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navigationMenu {
  width: 5%;
  height: 100%;
  background-color: #1f2c33;
  border-right: 1px solid rgba(134, 150, 160, 0.15);
}
.chatSidebar {
  height: 100%;
  width: 35%;
  background-color: #111a20;
  border-right: 1px solid rgba(134, 150, 160, 0.15);
  display: flex;
  flex-direction: column;
  position: relative;
}

/* createGroupSection */
.createGroupSection {
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: absolute;
  background-color: #111a20;
  display: none;
  color: white;
  overflow-y: scroll;
}
.createGroupSection_top {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
.createGroupSection_topleft {
  display: flex;
  justify-content: center;
  /* padding:10px 20px; */
  align-items: center;
}
.nextSecGrp {
  cursor: pointer;
  color: #04a784;
  font-size: 25px;
}
.createGroupSection_userlist {
  padding: 20px;
  position: relative;
  z-index: 1055;
}

.userItems {
  margin-top: 20px;
}
.fa-xmark {
  color: #8796a1;
  font-size: 30px;
  margin-right: 40px;
}
.createGroupSection_namesearch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#newGroupName {
  width: 60%;
  outline: none;
  color: white;
  border: none;
  font-size: 16px;
  background-color: transparent;
  border-bottom: 1px solid rgba(134, 150, 160, 0.15);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.createGrp {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #04a784;
  cursor: pointer;
}
.createGrp:hover {
  color: white;
}

.chatSidebar__topbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 15px;
  color: white;
}

.chatSidebar__topbar h2 {
  margin: 0;
}
.vertical-dot-div ,div[class^="vertical-dot-div_gs"]{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  z-index: 1000;
}
div[class^="vertical-dot-div_gs"]{
  margin-left: 5px;
  z-index: 0;
}
.vertical-dot-div:hover,div[class^="vertical-dot-div_gs"]:hover {
  background-color: #233138;
  /* color: #111A20; */
}

.vertical-dot-div__options{
  background-color: #233138;
  position: absolute;
  top: 50px;
  right: 0;
  font-size: 15px;
  width: 120px;
  border-radius: 4px;
  user-select: none;
  display: none;
}

.active {
  display: block !important;
}

div[class^="vertical-dot-div__options_gs"]{
  background-color: #233138;
  position: absolute;
  top: 50px;
  right: 0;
  font-size: 12px;
  width: 120px;
  border-radius: 4px;
  user-select: none;
  /* z-index: 2000; */
  top: 38px;
  display: none;
}
.vertical-dot-div__options p,div[class^="vertical-dot-div__options_gs"] p {
  padding: 10px;
  padding-left: 20px;
}
.vertical-dot-div__options p:hover ,div[class^="vertical-dot-div__options_gs"] p:hover{
  background-color: #111a20;
}
.contentArea {
  background-color: #202f35;
  color: white;
  font-size: 20px;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  .contentDefaultConversation {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    /* display: none; */
  }
}
.contentConversation {
  height: 100%;
  width: 100%;
  display: none;
}

.contentConversation_topbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
}
.contentConversation_topbar,
.contentConversation_inputContainer {
  background-color: #1f2c33;
  height: 7%;
  width: 100%;
}
.groupname {
  margin: 0;
}
.groupexit {
  cursor: pointer;
}
/*  _amm9  */
.contentConversation_conversation {
  /* rgba(255, 255, 255, .16) transparent */
  height: 86%;
  background-color: black;
  overflow-y: scroll;
  background-color: black;
  /* background-image: url("https://camo.githubusercontent.com/cba518ead87b032dc6f1cbfc7fade27604449201ac1baf34d889f77f093f01ac/68747470733a2f2f7765622e77686174736170702e636f6d2f696d672f62672d636861742d74696c652d6461726b5f61346265353132653731393562366237333364393131306234303866303735642e706e67"); */
}
.scrollconversation {
}
.contentConversation_inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-image-chat{
  margin-right: 20px;  
  font-size: 25px;
  cursor: pointer;
}
.ImageChat{
  height: 100px;
  width: 100px;
  background-color: #04a784;
  position: absolute;

}

#messageToSend {
  width: 90%;
  border-radius: 5px;
  background-color: #2b3943;
  border: 0;
  color: white;
  padding: 10px;
  outline: none;
  font-size: 16px;
}

.fa-whatsapp {
  font-size: 25px;
}
.ri-chat-1-line {
  font-size: 30px;
}

.chatSidebar__searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2c33;
  margin: 0 10px;
  border-radius: 5px;
}
#searchGroups {
  width: 90%;
  background-color: transparent;
  border: 0;
  color: white;
  padding: 8px;
  outline: none;
  font-size: 16px;
}

.fa-magnifying-glass {
  font-size: 15px;
  width: 10%;
  color: #53616a;
  text-align: center;
}
::placeholder {
  color: #53616a;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #53616a;
}

.chatSidebar__grouplist {
  margin-top: 5px;
  overflow-y: scroll;
}
.groupItem ,.groupItem1{
  display: flex;
  color: white;
  align-items: center;
  /* background-color: red; */
  padding: 10px;
  border-bottom: 1px solid rgba(134, 150, 160, 0.15);
  margin: 20px;
}
.groupItem:hover {
  cursor: pointer;
  background-color: #2b3943;
}
.groupSelected {
  background-color: #2b3943;
}
.groupItem_profileImgDiv {
  height: 40px;
  width: 40px;
  flex: 1;
  overflow: hidden;
  border-radius: 50%;
}
#groupItem_profileImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#groupItem_profileName {
  flex: 7;
  margin: 10px;
}
#groupItem_profilePendingMsg {
  flex: 1;
}

.msger-chat {
  flex: 1;
  /* overflow-y: auto; */
  padding: 10px;
  position: relative;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
  font-size: 1rem;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.selectedUser {
  background-color: #233138;
}

.groupSettings {
  cursor: pointer;
}
.groupSettingsSection {
  height: 100%;
  width: 0;
  background-color: #111a20;
  transition: all 0.2s;
  transform-origin: right;
  display: none;
  overflow-y: scroll;
}
.groupSettingsSection_open {
  display: block;
  width: 80%;
}
.groupSettingsSection_topbar {
  margin: 10px 35px;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.groupSettingsSection_topbar p {
}
.fa-xmark_gs {
  cursor: pointer;
}
.groupSettingsSection_nameAndLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_wrapper_circle {
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#groupusersimg{
  height: 80%;
  width: 80%;
  object-fit: cover;
}
.groupSettingsSection_name{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 25px;
}
.fa-pen-edit{
  font-size: 15px;
  margin: 10px;
}
.fa-check-ok{
  margin: 10px;
  display: none;
}
.makeeditable{
  border-bottom: 1px solid green;
  width: 80%;
  padding: 5px;
  outline: none;
}
.groupSettingsSection_desc{
  
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px; */
  margin-top: 25px;
  padding: 15px;
}
.groupSettingsSection_userList_heading{
  font-size: 15px;
  color: #8796A1;
  margin-left: 15px;
}
.addUsersToGroup{
  /* border-top: 10px solid black; */
  border-bottom: 10px solid black;
  display: flex;
  align-items: center;
  padding: 15px 20px;

}
/* 04A784 */
.fa-user-plus-icondiv{
  background-color: #04A784;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 20px;

}
.addUsersToGroup:hover{
  background-color: #1f2c33;
  cursor: pointer;
}
.fa-user-plus-icon{
}
.adduserbtntext{
  margin: 0;

}

p[class^="groupSettingsSection_userListrole"] {
  flex: 1;
  font-size: 15px;
}
.groupSettingsSection_exitGroup,.groupSettingsSection_deleteGroup{
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 10px 10px 25px;
}
.fa-arrow-right-from-bracket_icon,.deleteGroupIcon{
  color: red;
  margin-right: 20px;
}
.Exit_Group_text{
  color: red;
  cursor: pointer;
}



/* modal to add members to group */

.w3-modal{
  z-index: 1003;
}

.w3-modal-content{
  width: 27%;

}
.w3-container{
  background-color: #111A20;
  color: white;
  padding: 0 !important;
}
.modal_topbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #1f2c33;
  margin-bottom: 10px;
  font-size: 15px;
  
}
.modal_topbar_left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 10px; */
  background-color: #1f2c33;
  /* margin-bottom: 10px; */
  
  font-size: 15px;

}

.fa-xmark_modal_x{
  margin: 0 15px 0 0;
  cursor: pointer;
}

.modal_search{

  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_searchcont{
  width: 95%;
  background-color: #1f2c33;
  border-radius: 5px;
  padding: 8px;
}
.fa-magnifying-glass_modalicon{
  color: #8796A1;
  margin: 0 10px;
}
#searchUserText{
  outline: none;
  border: none;
  width: 80%;
  background-color: transparent;
  color: white;
font-size: 15px;
}

.modelUser{
  font-size: 15px;
  margin: 10px;
}
.modelUserImg{
  margin-right: 10px;
}
.modelUser-info{
  color: #53616A;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.modalUserListNoUser{
  height: 65vh;
  color: #53616A;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;

}
.modal_users{
  height: 65vh;
  overflow-y: scroll;
}
.modelUser-info > p{
  margin: 0;
}
.addNewUserBtn{
  border: none;
  background-color: #53616A;
  cursor:not-allowed;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  /* margin: 0 10px; */
  color: white;
  text-transform: uppercase;
}
.addNewUserBtn_enable{
  cursor: pointer;
  background-color: #04A784;
}

.msg-image{
  height: 450px;
  width: 400px;
}
.msg-image-chat{
  object-fit: cover;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.ImgSendloader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* modal for image view */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 19999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}